@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Welecome Birthday Tracker MVC</h1>
    <p class="lead">This Birthday Tracker allows you to input, update, and view birthdays</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Add Birthdays</h2>
        <p>
            Click here to add birthdays
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Add &raquo;</a></p>
    </div>  
    <div class="col-md-4">
        <h2>Edit Birthdays</h2>
        <p>
            Click here to add birthdays
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Edit &raquo;</a></p>
    </div>  
</div>

